<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.newbees.mastersip">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Needed to allow Linphone to install on tablets, since android.permission.CALL_PHONE implies android.hardware.telephony is required -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <!-- Needed to allow Linphone to install on tablets, since android.permission.CAMERA implies android.hardware.camera and android.hardware.camera.autofocus are required -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Needed to store received images if the user wants to -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.sip.voip"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />>

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDGHE93m3lSKewntsAw-QKGkY97NS2k7Qs" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/master_sip_logo" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service
            android:name=".linphone.LinphoneService"
            android:stopWithTask="false" />

        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.StartActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".ui.auth.RegisterDateOfBirthActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.auth.TermsOfServiceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.auth.PolicyActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.auth.TipPageActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.auth.RegisterProfileMaleActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name=".ui.auth.RegisterProfileFemaleActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name=".ui.auth.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.top.TopActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeHasActionBar"></activity>

        <activity
            android:name=".ui.chatting.ChatActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.auth.CropImageActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.auth.PickLocationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.InputActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name=".ui.call.OutgoingVoiceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.call.OutgoingVideoVideoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.call.OutgoingVideoChatActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.call.IncomingVoiceActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:taskAffinity=".NotificationActivity"></activity>

        <activity
            android:name=".ui.call.IncomingVideoChatActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:taskAffinity=".NotificationActivity"></activity>

        <activity
            android:name=".ui.call.IncomingVideoVideoActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:taskAffinity=".NotificationActivity"></activity>

        <activity
            android:name=".ui.profile.ProfileDetailItemActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.ImageDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDarkActionBar"></activity>

        <activity
            android:name=".ui.PhotoGalleryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.gift.ListGiftActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.chatting.ChatImageDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDarkActionBar"></activity>

        <activity
            android:name=".ui.chatting.ChattingPhotoGalleryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.auth.ForgotPasswordActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.auth.ChangePasswordActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.payment.PaymentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>